/*  ================================================================================
    CSS reset
    ================================================================================ */
html, body, div, span, h1, h2, h3, h4, p, blockquote, 
a, code, em, img, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, figure, 
figcaption, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*  ================================================================================
    General
    ================================================================================ */

html,body{margin:0;padding:0;} /* Common margin & padding for all browsers */
html{overflow-y:scroll;} /* Always display the scrollbar, avoid flipping pages */
body {
  font-family: Arial, sans-serif;
  color: #303030;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-family: 'Times New Roman', serif;
  color: #606060;
  padding: 1.2em 0 1em 0;
}
h1 { font-size: 2em;  line-height: 0.5em;}
h2 { font-size: 1.8em; line-height: 0.55em;}
h3 { font-size: 1.5em; line-height: 0.66em;}


p, ol, ul, blockquote, pre, code {
  font: normal 14px/1.5em Arial, Helvetica, sans-serif;
  margin-bottom: 1.5em;
}


img { border:0; } /* No border around linked images */

a:link    { color: #606060; text-decoration: none;}
a:visited { color: #303030;}
a:hover   { text-decoration:underline;}
a:active  { color: #333333;}

ul, ol, dl {
  margin-left: 1em;
}

blockquote {
  font-family: serif;
  font-style: italic;
  color: #606060;
  margin: 0.5em 0 0.5em 2em;
}

/*  ================================================================================
    HTML 5 elements
    ================================================================================ */

header,footer,nav,article,section,
aside,figure,figcaption,output {display:block;}

/*  ================================================================================
    Layout
    ================================================================================ */

header#top,
div#content,
div#footer {
  margin: 0 auto;
  width: 800px;
  padding: 0.5em;
}
div#footer p {
  line-height: 0.2em;
}
/*  ================================================================================
    Components
    ================================================================================ */
nav.navmenu {
  padding: 1em 0 0 0;
}

/*  ================================================================================
    Forms
    ================================================================================ */

fieldset {
  margin: 1em 0;
}